[submodule "EQX.Core"]
	path = EQX.Core
	url = \\\\192.168.113.17\\SetupFiles\\GitServer\\EQX.Core.git
[submodule "EQX.Device"]
	path = EQX.Device
	url = \\\\192.168.113.17\\SetupFiles\\GitServer\\EQX.Device.git
[submodule "EQX.Motion"]
	path = EQX.Motion
	url = \\\\192.168.113.17\\SetupFiles\\GitServer\\EQX.Motion.git
[submodule "EQX.InOut"]
	path = EQX.InOut
	url = \\\\192.168.113.17\\SetupFiles\\GitServer\\EQX.InOut.git
[submodule "EQX.UI"]
	path = EQX.UI
	url = \\\\192.168.113.17\\SetupFiles\\GitServer\\EQX.UI.git
[submodule "EQX.Process"]
	path = EQX.Process
	url = \\\\192.168.113.17\\SetupFiles\\GitServer\\EQX.Process.git
[submodule "EQX.ThirdParty"]
	path = EQX.ThirdParty
	url = \\\\192.168.113.17\\SetupFiles\\GitServer\\EQX.ThirdParty.git
